body{
	position: fixed;
	z-index:-9999;
	width: 400px;
	height: 500px;
	overFlow: hidden;
}

#main-container{
	position: absolute;
	top: 0%;
	left: 0%;
	z-index:-99;
	width: 400px;
	height: 500px;
	background-color: grey;
	overFlow: hidden;
}
#menu-side-container{
	position: absolute;
	display: flex;
	
	z-index: 9999;
	
	height:100%;
	width: 0px;
	
	top: 0%;
	left: 0%;
	background-color: white;
	overflow-x: hidden;
	transition:0.5s ease-in-out;
	padding-top: 12%;
}
#content-container{
	position: absolute;
	top: 0%;
	left: 0%;
	z-index:-1000;
	width: 400px;
	height: 500px;
	background-color: grey;
	overFlow: hidden;
}
.menu-toggle{
	position:absolute;
	z-index:999;
	width: 40px;
	height: 40px; 
	background-color: white;
	border-radius: 2px;
}
#menu-side-container >.menu-toggle{
	top:0%;
	right:0%;
}

#main-container a {
	padding: 14px 14px 14px 40px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.2s ease-in-out;
	white-space:nowrap;
}
#main-container a:hover {
	background-color: grey;
}


/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
	.sidenav {
		padding-top:15px;
	}
	.sidenav a {
		font-size: 18px
	}
}