#meal-container{
	width: 200px;
	
	position: absolute;
	top:30%;
	left:50%;
	transform: translate(-50%);
	overflow:hidden;
}
.meal-element{
	padding:5px;
	background-color: white;
	width:100%;
	height: 30px;
}

.meal-element:hover{
	background-color:grey;
}

#type-selector{
	position: absolute;
	top:20%;
	left:50%;
	transform: translate(-50%,-50%);
	overflow:hidden;
	display:flex;
}
#day-selector{
	position: absolute;
	z-index:100;
	top:10%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgb(243,232,232);
	border: 1px solid white;
}

.type{
	width:50px;
	height:100%;
	background-color: white;
	text-align: center;
}
.selected, .type:hover{
	background-color: skyblue;
}