#meal-container{
	width: 300px;
	
	position: absolute;
	top:30%;
	left:50%;
	transform: translate(-50%);
	overflow:hidden;
}
.meal-element{
	padding:5px;
	background-color: white;
	width:60%;
	height: 30px;
}

.meal-element:hover{
	background-color:grey;
}

#type-selector{
	position: absolute;
	top:20%;
	left:50%;
	transform: translate(-50%,-50%);
	overflow:hidden;
	display:flex;
}
#day-selector{
	position: absolute;
	z-index:100;
	top:10%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgb(243,232,232);
	border: 1px solid white;
}

.type{
	width:50px;
	height:100%;
	background-color: white;
	text-align: center;
}
.selected, .type:hover{
	background-color: skyblue;
}

.star-fill{
	position: absolute;
	font-size: 20px;
	color: gold;
	width:10px;
	overflow: hidden;
}
.star{
	color: white;
}
.star, .star-fill{
	font-size: 20px;
	-webkit-text-stroke-width: 1.2px;
	/* -webkit-text-stroke-color: #2b2a29; */
}
.star-list{
	width: 20%;
	height: 30px;
}